<div class="container-fluid">
  <div class="dropdown">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="<%= logout_path %>">Log Out</a><br/>
      <a class="dropdown-item" href="">Logged in as <%= current_user.name %></a>
    </div>
  </div>
  <h1 align="center">ParQueen</h1>
</div>
<br>

<div id="api-map"></div>

<div class='row mt-5'>
  <div class='col-12 text-center mb-3' id='park-here-btn'>
    <button class='btn btn-primary col-6 col-md-4' onclick="getCurbLocation()">API Park Here</button>
  </div>

  <div class='col-12 text-center' id='save-btn' >
    <button class='btn btn-success col-6 col-md-4' onclick="postCurbPosition()">API Save This Location</button>
  </div>
</div>

<div class="container">
  <div class="card border-0" style="width: 40vw;">
    <div class="card-body">
      <h5 class="card-title"><div id="curb_info"></h5>
    </div>
  </div>
</div>